#application.yaml

spring:
  application:
    name: gate-way

  profiles:
    active: dev

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

  config:
    import: "optional:configserver:"
